@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
    font-family: 'PhotographSignature';
    src: url('fonts/PhotographSignature.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/* Header */

.header {
    min-height: 100vh;
    width: 100%;
}

/* Body */

body {
    background-color: black;
}

/* Main Page Video */

.video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    .video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .video {
        width: auto;
        height: 100%;
    }
}

@media (max-width: 1180px) {
    .video {
        width: 100%;
        height: 100%;
        margin-bottom: 160px;
    }
}

/* Modal - Main Page */

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  border-radius: 10px;
  width: 400px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.close {
  float: right;
  cursor: pointer;
  font-size: 24px;
}

/* Navigation Bar */

nav{
  background: transparent;
  height: 80px;
  width: 100%;
}

label.logo{
  color: white;
  font-size: 35px;
  line-height: 120px;
  padding: 0 100px;
  font-weight: bold;
  font-family: 'PhotographSignature', sans-serif;
 }
 
nav ul{
  float: right;
  margin-right: 80px;
  z-index: 2;
}

nav ul li{
  display: inline-block;
  line-height: 120px;
  margin: 0 5px;
}

nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
}

.navbar-link:hover{
    background: #d4af37;
    transition: .5s;
  }
  
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 30px;
    line-height: 80px;
  }
  nav ul li a{
    font-size: 16px;
  }
}

@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: black;
    top: 76px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 20px;
  }
  nav ul li a{
    font-size: 20px;
  }
  .navbar-link:hover{
    background: #d4af37;
    color: #fff;
  }
  #check:checked ~ ul{
    left: 0;
  }
}

/* Text Box */

.text-box {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

.text-box h1{
    font-family: 'PhotographSignature', sans-serif;
    font-size: 100px;
}

@media (max-width: 600px) {
    .text-box h1 {
        font-size: 40px;
        margin-bottom: 330px;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .text-box h1 {
        font-size: 80px;
        margin-bottom: 330px;
    }
}

/* About Section - Main Page */

.about {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 100px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
    color: white;
}

.p0 {
    color: white;
}

p {
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

@media (max-width: 1180px) {
    .about {
        margin-top: -400px;
    }
}

/* Projects Section - Main Page */

.projects {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.projects-column {
    flex-basis: 31%;
    background: white;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    color: black;
}

@media(max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

/* Gallery Section - Main Page */

.photos {
    width: 80%;
    margin: auto;
    padding-top: 50px;
    text-align: center;
}

.photos-column {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    overflow: hidden;
    display: flex;
    align-items: stretch;
}

.photos-column img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* About Section - Seperate Page */

.about-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-section .about-content img {
    height: 400px;
    width: 400px;
    max-width: 100%;
    border: 4px solid white;
    border-radius: 50%;
    object-fit: cover;
    object-position: center -24px;
}

.about-content img {
    width: 100%;
    height: auto;
    display: block;
}

.biography {
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
}

.about-content {
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.biography h1 {
    color: white;
    font-size: 50px;
    margin-bottom: 5px;
}

.biography p {
    color: white;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 45px;
    margin-left: -10px;
}

.biography h3 {
    color: #d4af37;
    text-align: left;
    font-style: italic;
}

@media (max-width: 1180px) {
    .about-section {
        width: 100%;
        height: auto;
        padding: 70px 0px;
    }
    .about-section .about-content img {
        width: 240px;
        height: 240px;
        display: block;    
    }
    .biography h1 {
        font-size: 40px;
        padding-top: 20px;
        text-align: center;
    }
    .biography h3 {
        text-align: center;
        font-size: 18px;
    }
    .biography p {
        text-align: center;
        font-size: 16px;
    }
}

* {
    box-sizing: border-box;
}

/* Projects Section - Seperate Page */

.projects-body {
    background-color: black;
    color: white;
}

.box-title {
    color: #d4af37;
}

.main-timeline {
    position: relative;
  }
  
  .main-timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    background-color: #ffffff;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  .timeline {
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  .timeline::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color: #000000;
    border: 5px solid #ffffff;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  .left {
    padding: 0px 40px 20px 0px;
    left: 0;
  }
  
  .right {
    padding: 0px 0px 20px 40px;
    left: 50%;
  }
  
  .left::before {
    content: " ";
    position: absolute;
    top: 18px;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  .right::before {
    content: " ";
    position: absolute;
    top: 18px;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  .right::after {
    left: -12px;
  }
  
  @media screen and (max-width: 600px) {
    .main-timeline::after {
      left: 31px;
    }
  
    .timeline {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
    .timeline::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
    .left::after,
    .right::after {
      left: 18px;
    }
  
    .left::before {
      right: auto;
    }
  
    .right {
      left: 0%;
    }
  }

/* Gallery Section - Seperate Page */

.gallery {
    margin-top: 2rem;
    text-align: center;
    padding: 10px;
}

.gallery h2 {
    color: white;
    font-size: 42px;
}

.photo-word {
    color: #d4af37;
}

.gallery > div {
    columns: 3;
    gap: 1.25rem;
    padding-top: 1.25rem;
}

.gallery img {
    display: block;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 1.25rem;
}

@media (max-width: 48rem) {
    .gallery > div {
        columns: 2;
    }
}

@media (max-width: 32rem) {
    .gallery > div {
        columns: 1;
    }
}

/* Contact Section - Seperate Page (Made in SASS Seperately) */

/* Footer Section */

.footer {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

.footer h3 {
    font-weight: 600;
}

.footer p {
    color: white;
}

.icons {
    margin-bottom: 10px;
}

.icons .fab {
    color: white;
    margin: 0 14px;
    cursor: pointer;
}

.icons a {
    text-decoration: none;
}

.icons .fab:hover.fa-facebook {
    color: #316ff6;
}

.icons .fab:hover.fa-instagram {
    color: #e4405f;
}

