<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="../favIcon/favicon.ico">
</head>

<body>

<section class="header">

    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
        </label>
        <label class="logo">FK</label>
        <ul>
          <li><a href="home.html" class="navbar-link">Home</a></li>
          <li><a href="about.html" class="navbar-link">About</a></li>
          <li><a href="projects.html" class="navbar-link">Projects</a></li>
          <li><a href="gallery.html" class="navbar-link">Gallery</a></li>
          <li><a href="contact.html" class="navbar-link">Contact</a></li>
        </ul>
    
        <img src="../themeSwitch/sun.png" id="icon">
    
      </nav>
      
    <!-- NEW contact form needs to be made with proper validation (ajax, jquery, js, html, css)-->

    <!-- Advanced Form Validation: Extend the contact form with new fields (e.g., date picker, password strength indicator) 
        and implement detailed validation (e.g., valid email format, password criteria, required fields). 
        For this we will cover jQuery validation library.-->

    <!-- Form Submission with AJAX: Upgrade the form to submit data 
        using AJAX, displaying a success message or error without reloading the page.-->





















        

    <section class="footer">

        <div class="icons">

            <a href="https://www.facebook.com/faris.karkelja" target="_blank">
                <i class="fab fa-facebook"></i>
            </a>

            <a href="https://www.instagram.com/faris.karkelja" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>

        </div>

        <p>&copy; 2024 Faris Karkelja. All rights reserved.</p>
    
    </section>

    <script src="../js/themeSw.js"></script>

</body>

</html>