<!--<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="../favIcon/favicon.ico">
</head>

<body> 
    
<section class="header">
    
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
        </label>
        <label class="logo">FK</label>
        <ul>
          <li><a href="home.html" class="navbar-link">Home</a></li>
          <li><a href="about.html" class="navbar-link">About</a></li>
          <li><a href="projects.html" class="navbar-link">Projects</a></li>
          <li><a href="gallery.html" class="navbar-link">Gallery</a></li>
          <li><a href="contact.html" class="navbar-link">Contact</a></li>
        </ul>

        <img src="../themeSwitch/sun.png" id="icon">
    
      </nav>
   </section>
-->   
    <section class="about-section">
        <div class="about-content">
            <img src="../project2/profileImage/image1.jpg">
            <div class="biography">
                <h1 class="bioH1">About Me</h1>
                <h3>3X National Champion<br>7X International Champion</h3>
                <p>
                    Hi! My name is Faris Karkelja, a 20-year-old salsa dancer based in Sarajevo, Bosnia and Herzegovina. 
                    In 2021, I had the opportunity to showcase my talent on the mesmerizing platform of the 
                    Supertalent Show held in Zagreb, the capital city of Croatia.<br><br>
                    This experience was a crucial moment in my dance career, igniting a renewed sense of motivation 
                    that has fueled my continuous growth and improvement ever since.<br><br>
                <span class="read-more-text">   
                    Apart from my passion for the art of dance, I 
                    have a deep interest in various technological domains. Alongside my dance journey, I am 
                    currently engaged in higher education, focusing on Information Technology at the university level.
                </span>
                </p>
                <span class="read-more-btn">Read More</span>
            </div>
        </div>
    </section>

    <script src="../project2/js/readMore.js"></script>
  
<!--
    <section class="footer">

        <div class="icons">

            <a href="https://www.facebook.com/faris.karkelja" target="_blank">
                <i class="fab fa-facebook"></i>
            </a>

            <a href="https://www.instagram.com/faris.karkelja" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>

        </div>
        
        <p>&copy; 2024 Faris Karkelja. All rights reserved.</p>
    
    </section>

    <script src="../js/themeSw.js"></script>

</body>

</html>-->