<div class="contact-body">
  <div class="contactWrapper">
    <header>Dance Class Registration</header>
    <form id="danceClassForm" name="danceClassForm" autocomplete="off">
      <div class="dbl-field">
        <div class="field">
          <input
            type="text"
            class="form-control"
            id="firstName"
            name="firstName"
            placeholder="First Name"
            minlength="2"
            required
          />
          <i class="fas fa-user"></i>
        </div>

        <div class="field">
          <input
            type="text"
            class="form-control"
            id="lastName"
            name="lastName"
            placeholder="Last Name"
            minlength="2"
            required
          />
          <i class="fas fa-user"></i>
        </div>
      </div>

      <div class="dbl-field">
        <div class="field">
          <input
            type="text"
            class="form-control"
            id="phone"
            name="phone"
            placeholder="Phone No."
            minlength="10"
            maxlength="10"
            required
          />
          <i class="fas fa-phone"></i>
        </div>

        <div class="field">
          <input
            type="text"
            class="form-control"
            id="dob"
            name="dob"
            onfocus="this.type='date'"
            onblur="this.type='text'"
            placeholder="Date Of Birth"
            required
          />
          <i class="fas fa-calendar"></i>
        </div>
      </div>

      <div class="dbl-field">
        <div class="field">
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Email"
            required
          />
          <i class="fas fa-envelope"></i>
        </div>

        <div class="field">
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Password"
            minlength="8"
            required
          />
          <i class="fas fa-lock"></i>
        </div>
      </div>

      <div id="passwordStrength"></div>

      <div class="dbl-field">
        <div class="field">
          <input
            type="text"
            class="form-control"
            id="date"
            name="date"
            onfocus="this.type='date'"
            onblur="this.type='text'"
            placeholder="Preferred Date"
            required
          />
          <i class="fas fa-calendar"></i>
        </div>

        <div class="field">
          <input
            type="text"
            class="form-control"
            id="time"
            name="time"
            onfocus="this.type='time'"
            onblur="this.type='text'"
            placeholder="Preferred Time"
            required
          />
          <i class="fas fa-clock"></i>
        </div>
      </div>

      <div class="message">
        <textarea
          placeholder="Additional Information (e.g., experience, skill level, goals)"
          id="info"
          name="info"
        ></textarea>
        <i class="fas fa-message"></i>
      </div>

      <div class="button-area">
        <button type="submit">Register</button>
      </div>
    </form>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("#danceClassForm").validate({
      rules: {
        firstName: {
          required: true,
        },
        lastName: {
          required: true,
        },
        phone: {
          required: true,
          minlength: 10,
          maxlength: 10,
        },
        dob: {
          required: true,
        },
        email: {
          required: true,
          email: true,
        },
        password: {
          required: true,
          minlength: 8,
        },
        date: {
          required: true,
        },
        time: {
          required: true,
        },
        info: {
          required: true,
        },
      },
      messages: {
        firstName: {
          required: "Please enter your first name.",
        },
        lastName: {
          required: "Please enter your last name.",
        },
        phone: {
          required: "Please enter your phone number.",
          minlength: "Phone no. must be at least 10 digits long.",
          maxlength: "Phone no. must be max 10 digits long.",
        },
        dob: {
          required: "Please enter your date of birth.",
        },
        email: {
          required: "Please enter your email address.",
          email: "Please enter a valid email address.",
        },
        password: {
          required: "Please enter a password.",
          minlength: "Password must be at least 8 characters long.",
        },
        date: {
          required: "Please enter your preferred date.",
        },
        time: {
          required: "Please enter your preferred time.",
        },
        info: {
          required: "Please enter a message.",
        },
      },
      submitHandler: function (form) {
        toastr.success("Form submitted successfully.");
        $("#danceClassForm")[0].reset();
        return false;
      },
    });
    $("#password").keyup(function () {
      var password = $(this).val();
      var strength = 0;

      if (password.match(/[a-z]/) && password.match(/[A-Z]/)) {
        strength += 1;
      }

      if (password.match(/[0-9]/)) {
        strength += 1;
      }

      if (password.match(/[$&+,:;=?@#|'<>.^*()%!-]/)) {
        strength += 1;
      }

      var strengthText = "";
      switch (strength) {
        case 0:
          strengthText = "Weak";
          break;
        case 1:
          strengthText = "Medium";
          break;
        case 2:
          strengthText = "Strong";
          break;
        case 3:
          strengthText = "Very Strong";
          break;
      }
      $("#passwordStrength").html("Password Strength: " + strengthText);
    });
  });
</script>
