<section class="header">
  <div class="video-container">
    <video autoplay loop muted playsinline class="video">
      <source src="../project2/videos/vid-0.mp4" type="video/mp4" />
    </video>
  </div>

  <div class="text-box">
    <h1 class="tb-h1">Faris Karkelja</h1>
  </div>
</section>

<section class="about">
  <h1 class="aboutH1">Bio</h1>
  <p class="p0">
    Born and raised in Sarajevo, the capital city of Bosnia and Herzegovina.<br />
    Dancer and performer. Undergraduate IT student.
  </p>
</section>

<section class="projects">
  <h1 class="projectsH1">Projects</h1>
  <div class="row" id="projectsContainer">
    <!-- Projects content is loaded from json file -->
  </div>
</section>

<script src="../project2/js/projects.js"></script>

<div class="viewMore-container">
  <button class="viewMore-btn" onclick="redirectToViewMore()">
    <i class="fa-solid fa-eye"></i><span class="btn-text">View more</span>
  </button>
</div>

<script src="../project2/js/vM.js"></script>

<section class="photos">
  <h1 class="galleryH1">Gallery</h1>

  <div class="row">
    <div class="photos-column">
      <img src="../project2/images/image (26).jpg" />
    </div>

    <div class="photos-column">
      <img src="../project2/images/image (67).jpg" />
    </div>

    <div class="photos-column">
      <img src="../project2/images/image (33).JPG" />
    </div>
  </div>
</section>

<div class="wrapper">
  <header>
    <i class="bx bx-cookie"></i>
    <h2>Cookies Consent</h2>
  </header>
  <div class="data">
    <p>
      This website uses cookies to ensure you get the best experience on my
      website.
    </p>
  </div>
  <div class="buttons">
    <button class="button" id="acceptBtn">Accept</button>
    <button class="button" id="declineBtn">Decline</button>
  </div>
</div>

<script src="../project2/js/modal.js"></script>

<section class="faq">
  <h1 class="faqH1">FAQ</h1>

  <button class="faqContentToggle">Show</button>

  <div class="accordion" style="display: none">
    <div class="accordion-content">
      <header>
        <span class="title">How did your dance journey begin?</span>
        <i class="fa-solid fa-plus"></i>
      </header>

      <p class="description">
        My dance journey began in Sarajevo, where I was born and raised. I was
        inspired by the vibrant local scene and started taking classes at a
        young age. My passion for dance grew as I participated in various local
        performances and eventually, international projects.
      </p>
    </div>

    <div class="accordion-content">
      <header>
        <span class="title">What are some common challenges dancers face?</span>
        <i class="fa-solid fa-plus"></i>
      </header>

      <p class="description">
        Dancers often face physical challenges such as injuries and fatigue.
        Mentally, staying motivated and dealing with performance anxiety can be
        tough. Balancing practice with personal and professional commitments is
        another common challenge a dancer would face on a daily basis.
      </p>
    </div>

    <div class="accordion-content">
      <header>
        <span class="title">Do you offer dance lessons or workshops?</span>
        <i class="fa-solid fa-plus"></i>
      </header>

      <p class="description">
        Yes, I offer both dance lessons and workshops. My lessons are designed
        for various skill levels, from beginners to advanced dancers. I also
        conduct workshops that focus on specific dance styles and techniques.
      </p>
    </div>

    <div class="accordion-content">
      <header>
        <span class="title">What is your preferred dance style?</span>
        <i class="fa-solid fa-plus"></i>
      </header>

      <p class="description">
        While I enjoy many dance styles, my preferred style is Salsa. The
        energy, rhythm, and passion involved in Salsa dancing resonate with me
        deeply and allow me to express myself fully.
      </p>
    </div>

    <div class="accordion-content">
      <header>
        <span class="title"
          >How to balance dance career with other commitments?</span
        >
        <i class="fa-solid fa-plus"></i>
      </header>

      <p class="description">
        Balancing a dance career with other commitments requires good time
        management and setting priorities. I create a schedule that allocates
        time for practice, performances, and other responsibilities. Staying
        organized and setting clear goals helps maintain this balance.
      </p>
    </div>

    <div class="accordion-content">
      <header>
        <span class="title"
          >What advice do you have for beginners in dance?</span
        >
        <i class="fa-solid fa-plus"></i>
      </header>

      <p class="description">
        My advice for beginners is to stay patient and consistent. Practice
        regularly, even if it's just a little each day. Don't be afraid to make
        mistakes, as they are part of the learning process. Most importantly,
        enjoy the journey and have fun!
      </p>
    </div>

    <div class="accordion-content">
      <header>
        <span class="title"
          >Can anyone learn to dance, regardless of age or experience?</span
        >
        <i class="fa-solid fa-plus"></i>
      </header>

      <p class="description">
        Absolutely! Dance is for everyone, regardless of age or experience. It's
        never too late to start. With dedication and practice, anyone can learn
        to dance and enjoy the numerous benefits it brings.
      </p>
    </div>
  </div>
</section>

<script src="../project2/js/contentToggle.js"></script>

<div class="faqQuestion">
  <h2>Ask a Question</h2>
  <form id="questionForm" autocomplete="off">
    <input
      type="text"
      id="userQuestion"
      name="userQuestion"
      placeholder="Type your question here..."
      required
    />
    <button type="button" id="success">Ask</button>
  </form>
  <div id="questionsContainer"></div>
</div>

<script src="../project2/js/editAnddelete.js"></script>
<script src="../project2/js/faq.js"></script>
