<div class="timeline">
  <div class="container right">
    <div class="content">
      <h2><span class="box-title">20</span>25</h2>
      <p>
        - To be continued...<br />
        - National Championship<br />
        - European Heritage Days Dance Show<br />
      </p>
    </div>
  </div>

  <div class="container left">
    <div class="content">
      <h2><span class="box-title">20</span>24</h2>
      <p>
        - Viennese Ball Gala Event<br />
        - Project HeArtMony Final Event<br />
        - Masquerade Dance Performance<br />
        - Sarajevo Salsa Congress 2024<br />
        - High School Performance
      </p>
    </div>
  </div>

  <div class="container right">
    <div class="content">
      <h2><span class="box-title">20</span>23</h2>
      <p>
        - Sarajevo Salsa Congress 2023<br />
        - TV Show, "Nova BH"<br />
        - "Let's Go For The Gold" Show<br />
        - High School Performance<br />
        - "Shinefinity" Show<br />
        - National Championship<br />
        - "Mo Stars" Open Competition<br />
        - "Bolero Dance" Open Tournament
      </p>
    </div>
  </div>

  <div class="container left">
    <div class="content">
      <h2><span class="box-title">20</span>22</h2>
      <p>
        - Sarajevo Salsa Congress 2022<br />
        - International Competition<br />
        - TV Show, "Nova BH"<br />
        - "JUMBO" Dance Performance<br />
        - 25th "BaSS" Congress<br />
        - Mercedes-Benz STARline Event<br />
        - Cubanero Salsa Festival<br />
        - National Championship<br />
        - Project HeArtMony, "DANCELAB ARMONIA"<br />
        - "Ladies & Gentlemen" Event<br />
        - TV Performance, "TVSA"<br />
        - TV Performance, "O Kanal"<br />
        - "PMU Balkan" GOLD Congress<br />
        - "Welcome To The Future" Event
      </p>
    </div>
  </div>

  <div class="container right">
    <div class="content">
      <h2><span class="box-title">20</span>21</h2>
      <p>
        - Supertalent Show, "Nova TV"<br />
        - Sarajevo Salsa Congress 2021<br />
        - National Championship<br />
        - "Time Of My Life" Dance Improv<br />
        - Surprise Dance For The Bride<br />
        - Bosniak Institute Dance Performance<br />
        - International Tournament<br />
        - New Year Show, "Hayat TV"
      </p>
    </div>
  </div>

  <div class="container left">
    <div class="content">
      <h2><span class="box-title">20</span>20</h2>
      <p>
        - Sarajevo Salsa Congress 2020<br />
        - Dejana Talk Show, "OBN TV"
      </p>
    </div>
  </div>

  <div class="container right">
    <div class="content">
      <h2><span class="box-title">20</span>19</h2>
      <p>- Beginning of the journey</p>
    </div>
  </div>
</div>
